.wrapper {
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
}

.navigation-wrap {
    
}

.block-intro {
    background-image: url("../../picture-assets/overview_devices_rotated_2x.png");
    height: calc(100vh - 60px);
    background-size: 768px 672px;
    background-position: 100% 70%;
    background-repeat: no-repeat;
    background-color: #1699e5;
    box-shadow: inset -50px 0 100px #1699e5;
}

.container-intro {
    position: relative;
    top: 4.5em;
    right: -2em;
}

.welcome {
    padding: 0;
    font-size: 1.3em;
    color: white;
}

h1 {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 3em;
    color: white;
}

.icon-block {
    display: flex;
    width: 85vw;
    max-width: 480px;
    margin-top: 4.5em;
    justify-content: space-between;
    align-items: center;
}

.icon-big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: #1699e5;
    border-radius: 50%;
    border: solid 2px white;
    font-size: 3em;
    color: white;
}

.icon-description-block {
    display: flex;
    width: 85vw;
    max-width: 480px;
    margin-top: .75em;
    justify-content: space-between;
    align-items: center;
}

.ico-descript-txt {
    text-align: center;
    font-size: .85em;
    font-weight: 600;
    color: white;
}

.block-offers {
    min-height: 100px;
    background: rgb(207, 216, 220);
}

.container-offers {

}

.footer {
    min-height: 50px;
    background: rgb(207, 216, 220);
}

.container-footer {
    
}

/* Small devices (portrait phones, less than 768px) */
@media only screen and (max-width: 767px) {
    .block-intro {
    height: calc(100vh - 60px - 13vh);
    background-size: 135%;
    background-position: -20% 34%;
    }

    .container-intro {
        position: relative;
        top: 4em;
        left: -.5em;
    }
} 

/* Medium devices (tablets, from 768px up to 992px) */
@media only screen 
and (min-width: 768px)
and (max-width: 991px) {
    .block-intro {
    background-size: 85%;
    background-position: 290% 40%;
    }

    .container-intro {
        position: relative;
        top: 5.5em;
        right: -5em;
    }
}

