.wrapper {
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
}

.navigation-wrap {
    background-color: #1699e5;
}

.block-intro {
    min-height: 100px;
    background-color: #1699e5;
}

.container-intro {

}

h1 {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: white;
}

.icon-big {
    /* font-family, font-size  */
}

.block-offers {
    min-height: 100px;
    background: #999;
}

.container-offers {

}

.footer {
    min-height: 50px;
    background: #999;
}

.container-footer {
    
}