.wrapper {

}

.navigation-wrap {
    background-color: rgb(102, 102, 255);
}

.block-intro {
    min-height: 100px;
    background-color: rgb(102, 102, 255);
}

.block-offers {
    min-height: 100px;
    background: #999;
}

.footer {

}

